* {
font-family: Tahoma;
}
A { 
color: #223750;
font-size:11pt; 
font-family: Arial, Tahoma;
text-decoration: none;
}
A:hover {
color: #054082;
text-decoration-line: underline;
text-decoration-style: wavy;
text-decoration-color: #135ba1;
font-weight: bold;
}
.bar {
border-color: red;
}
.bar > b {
color: #FF3399;
}

.bold {
font-weight: bold;
}
.italic {
font-style: italic;
}
.underlined {
text-decoration: underline;
}
.container {
width: 1000px;
padding: 0px;
margin: 0 auto;
border:1px;
border-color: black;
border-style: dashed;
background-color: white;
border-radius: 25px 25px 0 0;
}

header {
margin: 0 auto;
padding: 0px;
height: 234px;
font-style: italic;
right: 0px;
border-style: none;

}
nav {
padding: 1px;
border-style: none;
}
nav .n1 {
position: relative;
bottom: -10px;
right: -15px;
line-height: 1px;
}

nav .n2 {
position: relative;
bottom: 20px;
left: 550px;
}
.content { 
margin: -10px;
margin-right: 20px;
margin-left: 20px;
padding: 20px;
border-style: none;
}
footer {
margin: 0 auto;
padding: 10px;
height: 20px;
border-style: none;
} 
footer img {
width: 50px;
}

.contact-form {
border: 2px solid #444;
margin: 0 auto;
width: 700px;
padding: 10px;
color: #403E3F;
}

.flower {
float: left;
margin-left: 50px;
z-index:7;
position: relative;
bottom: 200px;
right: 15px;
line-height: 1px;
}
.flower > img {
height: 50px;
margin-left: 50px;

}
sup {
font-size: 5pt;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th {
background: #3f98e7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #E5E5E5;
padding: 10px 20px;
}
th:first-child {
text-align: left;
}

.rtd {
padding: 10px 20px;
text-align: left;
}
