* {
font-family: Tahoma;
}
A { 
color: #0074A2; 
}
A:hover {
    color: #003300;
}
.bar {
border-color: red;
}
.bar > b {
color: #FF3399;
}

.bold {
font-weight: bold;
}
.italic {
font-style: italic;
}
.underlined {
text-decoration: underline;
}
.container {
width: 1000px;
padding: 1px;
margin: 0 auto;
border-color: black;
border-style: solid;
background-color: white;
}

header {
margin: 20px;
padding: 1px;
height: 50px;
font-style: italic;
right: 0px;
border-color: red;
border-style: solid;
background-color: #BCBE97;
}
nav {
margin: 20px;
padding: 10px;
border-color: #EDEDED;
border-top-style: solid;
border-bottom-style: solid;
border-left-style: none;
border-right-style: none;


}
.content { 
margin: 20px;
padding: 20px;
border-color: green;
border-style: solid;
}
footer {
margin: 20px;
padding: 1px;
height: 40px;
border-color: blue;
border-style: solid;
background-color: #F2F2F2;
} 

.contact-form {
border: 2px solid #444;
margin: 0 auto;
width: 700px;
padding: 10px;
color: #403E3F;
}

.flower {
float: left;
width: 50px;
height: 50px;

}
.flower > img {
height: 50px;
margin-left: 50px;

}
